/* You can add global styles to this file, and also import other style files */
@import url(~bootstrap/dist/css/bootstrap.min.css);

.footer{
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 75px;
    bottom:0;
    color: white;
    text-align: center;
    font-size: large;
    

}

